body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #111;
    color: white;
}

canvas {
    background-color: #222;
    border: 2px white solid;
    display: block;
    margin: 0 auto;
}

#score, #gameOverMsg {
    font-size: 20px;
}